<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >

    <test name="priority = 1" >
        <parameter name="browserName"  value="Firefox"/>
        <classes>
            <class name="day7.ParametersTests" />
        </classes>
    </test>
    <test name="priority = 2" >
        <parameter name="browserName"  value="Chrome"/>
        <classes>
            <class name="day7.ParametersTests" />
        </classes>
    </test>
</suite>



